body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    position: absolute;
    width: 100%;
}
.container {
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.75)),url(/img/deh.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: absolute;
    width: 100%;
}
.topmenu{
    height: 80px;   
}
.topmenu h1 {
    font-size: 35px;
    font-weight: bold;
    color: white;
    position: absolute;
    padding: 0 20px;
    text-transform: uppercase;
    color: red;
}
.topmenu ul {
    float: right;
    list-style: none;
    margin-right: 25px;
}
.topmenu ul li {
    display: inline-block;
    line-height: 50px;
    margin: 0 70px;
    position: relative;
}
.topmenu ul li a {
    position: relative;
    color: red;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.topmenu ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .4s linear;
}
.topmenu ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.heading h2 {
    text-align: center;
    color: white;
    font-size: 90px;
    text-transform: uppercase;
    margin-top: -20px;
}
.heading {
    display: grid;
    margin-left: 10%;
    margin-top: 5%;
    text-align: center;
}
.heading h1{
    color: red;
    font-size: 40px;
    font-family: italic;
    text-transform: uppercase;
    text-align: center;
}
.heading p {
    color: white;
    font-size: 20px;
    margin-top: -5%;
}
.button button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin-left: 45%;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background: transparent;
}

.button button a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.button button a:hover {
    color: red;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width:900px) {
    .topmenu h1 {
        font-size: 30px;
        padding-left: 50px;
    }
    .topmenu ul li {
        margin: 0 10px;
    }
    .topmenu ul li a {
        font-size: 15px;
    }
    .heading h1{
        font-size: 30px;
    }
    .heading h2 {
        font-size: 40px;
    }
}
@media (max-width:700px) {
    .checkbtn {
        display: block;
    }
    .topmenu ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-color: black;
        top: 50px;
        left: -110%;
        text-align: center;
        transition: all .5s;
    }
    .topmenu ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .topmenu ul li a {
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .heading h1 {
        font-size: 20px;
        padding-top: 10%;

    }
    .heading h2 {
        font-size: 40px;
    }
    .heading p {
        font-size: 15px;
    }
    .button button {
        background-color: red;
        width: 150px;
        height: 20px;
        border: none;
        border-radius: 0;
        margin-left: 40%;    
    }
    .button button a:hover {
        color: black;
    }
}
   